<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;background-color:whitesmoke">
  <br/>
  <p style="color:rgb(112, 44, 17);font-size: 300%;font-family:Verdana, Geneva, Tahoma, sans-serif"><b>
    SMART LERANING APP
    </b>
  </p>
  <a href="https://ibb.co/4Kbyb62"><img src="https://i.ibb.co/7j3c3wQ/b645bcdf08a1aaaf9ba17f0af49413c2.jpg" alt="b645bcdf08a1aaaf9ba17f0af49413c2" width="400px"></a>
  <app-user-profile></app-user-profile>
  <app-user-login></app-user-login>


</div>
